/* コードの文字化けを防ぐ */
@charset "UTF-8";

/* 共通部分
-------------------------------------------------- */

html {
  /* ユーザーが設定した文字サイズを正しく反映 */
  font-size: 100%;
}

body {
  /* 書体の指定 */
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  /* 行の高さの指定 */
  line-height: 1.7;
  /* 色の指定 */
  color: #432;
}

a {
  /* 傍線の指定 */
  text-decoration: none;
}

img {
  /* 横幅の最大の指定 */
  max-width: 100%;
}

/* HEADER
------------------------------- */

.logo {
  /* 横幅の指定 */
  width: 210px;
  /* マージンの上部分の指定 */
  margin-top: 14px;
}

.main-nav {
  /* 横並びの指定 */
  display: flex;
  /* フォントサイズの指定 */
  font-size: 1.25rem;
  /* テキスト文字大文字変換の指定 */
  text-transform: uppercase;
  /* マージンの上部分の指定 */
  margin-top: 34px;
  /* リストマーカーの指定 */
  list-style: none;
}

.main-nav li {
  /* マージンの左部分の指定 */
  margin-left: 36px;;
}

.main-nav a {
  /* 色の指定 */
  color: #432;
}

.main-nav a:hover {
  /* 色の指定 */  
  color: #0bd;
}

.page-header {
  /* 横並びの指定 */
  display: flex;
  /* 両端の設置の指定 */
  justify-content: space-between;
}

.wrapper {
  /* 横幅の最大の指定 */
  max-width: 1100px;
  /* 中央に配置する設定 */
  margin: 0 auto;
  /* パッティングの指定 */
  padding: 0 4%;
}

/* FOOTER
------------------------------- */

footer {
  /* 背景色の指定 */
  background: #432;
  /* 画面中央の指定 */
  text-align: center;
  /* パッティングの指定 */
  padding: 26px 0;
}

footer p {
  /* 色の指定 */
  color: #fff;
  /* フォントサイズの指定 */
  font-size: 0.875rem;
}

/* HOME
------------------------------- */

.home-content {
  /* 画面中央の指定 */
  text-align: center;
  /* マージンの上部分のの指定 */
  margin-top: 10%;
}

.home-content p {
  /* フォントサイズの指定 */
  font-size: 1.125rem;
  /* マージンの指定 */
  margin: 10px 0 42px;
}

/* 見出し */
.page-title {
  /* フォントサイズの指定 */
  font-size: 5rem;
  /* 書体の指定 */
  font-family: Philosopher, serif;
  /* テキスト大文字変換の指定 */
  text-transform: uppercase;
  /* フォントの太さの指定 */
  font-weight: normal;
}

/* ボタン */
.button {
  /* フォントサイズの指定 */
  font-size: 1.375rem;
  /* 背景の指定 */
  background: #0bd;
  /* 色の指定 */
  color: #fff;
  /* 枠の角丸の指定 */
  border-radius: 5px;
  /* パッティングの指定 */
  padding: 18px 32px;
}

.button:hover {
  /* 背景の指定 */  
  background: #0090aa;
}

/* 大きな画像背景 */
.big-bg {
  /* 背景サイズの指定 */
  background-size: cover;
  /* 波形位置の指定 */
  background-position: center top;
}

#home {
  /* 背景画像の指定 */
  background-image: url(../images/main-bg.jpg);
  /* 縦幅最小の指定 */
  min-height: 100vh;
}

#home .page-title {
  /* テキスト変換の指定 */
  text-transform: none;
}

/* NEWS
------------------------------- */

#news {
  /* 背景画像の指定 */
  background-image: url(../images/news-bg.jpg);
  /* 高さの指定 */
  height: 270px;
  /* マージンの下部分指定 */
  margin-bottom: 40px;
}

#news .page-title {
    /* 画面中央の指定 */
  text-align: center;
}

.news-contents {
  /* 横並びの指定 */
  display: flex;
  /* 両端の設置の指定 */
  justify-content: space-between;
  /* マージンの下部分の指定 */
  margin-bottom: 50px;
}

/* 記事部分 */
article {
  /* 横幅の指定 */
  width: 74%;
}

article img {
  /* マージンの下部分の指定 */
  margin-bottom: 20px;
}

article p {
  /* マージンの下部分の指定 */
  margin-bottom: 1rem;
}

.post-info {
  /* 相対位置の指定 */
  position: relative;
  /* パッティングの上部分の指定 */
  padding-top: 4px;
  /* マージンの下部分の指定 */
  margin-bottom: 40px;
}

.post-date {
  /* 背景色の指定 */
  background-color: #0bd;
  /* 枠の角丸の指定 */
  border-radius: 50%;
  /* 色の指定 */
  color: #fff;
  /* 横幅の指定 */
  width: 100px;
  /* 縦幅の指定 */
  height: 100px;
  /* フォントサイズの指定 */
  font-size: 1.625rem;
  /* 画面中央の指定 */
  text-align: center;
  /* 絶帝位置の指定 */
  position: absolute;
  /* 位置の指定 */
  top: 0;
  /* パッティングの上部分の指定 */
  padding-top: 10px;
}

.post-date span {
  /* フォントサイズの指定 */
 font-size: 1rem;
 /* 枠の上部分の指定 */
 border-top: 1px rgba(255, 255, 255, .5) solid;
 /* パッティングの上部分の指定 */
 padding-top: 6px;
 /* ブロック要素の指定 */
 display: block;
 /* 横幅の指定 */
 width: 60%;
 /* 中央に配置する設定 */
 margin: 0 auto;
}

.post-title {
  /* 書体の指定 */
  font-family: "Yu Mincho", "YuMincho", serif;
  /* フォントサイズの指定 */
  font-size: 2rem;
  /* フォント太さの指定 */
  font-weight: normal;
}

.post-title,
.post-cat {
  /* マージンの指定 */
  margin-left: 120px;
}

/* サイドバー */
aside {
  /* 横幅の指定 */
  width: 22%;
}

aside p {
  /* パッティングの指定 */
  padding: 12px 10px;
}

.sub-title {
  /* フォントサイズの指定 */
 font-size: 1.375rem;
 /* パッティングの指定 */
 padding: 0 8px 8px;
 /* 枠の下部分の指定 */
 border-bottom: 2px #0bd solid;
 /* フォント太さの指定 */
 font-weight: normal;
}

.sub-menu {
  /* マージンの下部分の指定 */
  margin-bottom: 60px;
  /* リストマーカーの指定 */
  list-style: none;
}

.sub-menu li {
  /* 枠の下部分の指定 */
  border-bottom: 1px #ddd solid;
}

.sub-menu a {
  /* 色の指定 */
  color: #432;
  /* パッティングの指定 */
  padding: 10px;
  /* ブロック要素の指定 */
  display: block;
}

.sub-menu a:hover {
  /* 色の指定 */
  color: #0bd;
}

/* MENU
------------------------------- */

#menu {
  background-image: url(../images/menu-bg.jpg);
  /* 縦幅最小の指定 */
  min-height: 100vh;
}

.menu-content {
  /* 横幅の最大の指定 */
  max-width: 560px;
  /* マージンの上部分の指定 */
  margin-top: 10%;
}

.menu-content .page-title {
  /* 画面中央の指定 */
  text-align: center;
}

.menu-content p {
  /* フォントサイズの指定 */
  font-size: 1.125rem;
  /* マージンの指定 */
  margin: 10px 0 0;
}

.grid {
  /* グリッドの指定 */
  display: grid;
  /* グリッド余白の指定 */
  gap: 26px;
  /* グリッドの横幅の指定 */
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  /* マージンの上部分の指定 */
  margin-top: 6%;
  /* マージンの下部分の指定 */
  margin-bottom: 50px;
}

/* CONTACT
------------------------------- */
#contact {
  /* 背景画像の指定 */
  background-image: url(../images/contact-bg.jpg);
  /* 縦幅の最小の指定 */
  min-height: 100vh;
}

/* フォーム */
form div {
  /* マージンの下部分の指定 */
  margin-bottom: 14px;;
}

label {
  /* フォントサイズの指定 */
  font-size: 1.125rem;
  /* マージンの上部分の指定 */
  margin-top: 10px;
  /* ブロック要素の指定 */
  display: block;
}

input[type="text"],
input[type="email"],
textarea {
  /* 背景の指定 */
  background: rgba(255, 255, 255, .5);
  /* 枠の指定 */
  border: 1px #fff solid;
  /* 枠の角丸の指定 */
  border-radius: 5px;
  /* パッティングの指定 */
  padding: 10px;
  /* フォントサイズの指定 */
  font-size: 1rem;
}

input[type="text"],
input[type="email"] {
  /* 横幅の指定 */
  width: 100%;
  /* 横幅の最大の指定 */
  max-width: 240px;
  /* 縦幅の指定 */
  height: 5rem;
}

textarea {
  /* パッティングの指定 */
  width: 100%;
  /* 横幅の最大の指定 */
  max-width: 480px;
  /* 縦幅の指定 */
  height: 6rem;
}

input[type="submit"] {
  /* 枠の指定 */
  border: none;
  /* カーソルの指定 */
  cursor: pointer;
  /* 行の高さの指定 */
  line-height: 1;
}

#location {
  /* パッティングの指定 */
  padding: 4px 0;
}

#location .wrapper {
  /* 背景の指定 */
  display: flex;
  /* 並びの設置の指定 */
  justify-content: space-between;
}

.location-info {
  /* 横幅の指定 */
  width: 22%;
}

.location-info p {
  /* パッティングの指定 */
  padding: 12px 10px;
}

.location-map {
  /* 横幅の指定 */
  width: 74%;
}

/* SNS */
#sns {
  /* 背景の指定 */
  background: #FAF7F0;
  /* パッティングの指定 */
  padding: 4% 0;
}

#sns .wrapper {
  /* 横並びの指定 */
  display: flex;
  /* 並びの設置の指定 */
  justify-content: space-between;
}

#sns .sub-title {
  /* マージンの下指定 */
  margin-bottom: 30px;
}

.sns-box {
  /* 横幅の指定 */
  width: 30%;
}

/* iframe */
iframe {
  /* 横幅の指定 */
  width: 100%;
}

/* モバイル版
------------------------------- */
@media (max-width: 600px) {
  .page-title {
    /* フォントサイズの指定 */
    font-size: 2.5rem;
  }

  .page-header {
    /* フレックスボックス縦並び */
    flex-direction: column;
    /* 垂直中央寄せの指定 */
    align-items: center;
  }

  /* HEADER */
  .main-nav {
    /* フォントサイズの指定 */
    font-size: 1rem;
    /* マージンの上部分指定 */
    margin-top: 10px;
  }

  .main-nav li {
    /* マージンの指定 */
    margin: 0 20px;
  }

  /* HOME */
  .home-content {
    /* マージンの上部分の指定 */
    margin-top: 20%;
  }

  /* NEWS */
  .news-contents {
    /* フレックスボックス縦並び */
    flex-direction: column;
  }

  article,
  aside {
    /* 横幅の指定 */
    width: 100%;
  }

  aside {
    /* マージンの上部分の指定 */
    margin-top: 60px;
  }

  #news .page-title {
    /* マージンの上部分の指定 */
    margin-top: 30px;
  }
  
  .post-info {
    /* マージンの指定 */
    margin-bottom: 30px;
  }

  .post-date {
    /* 横幅の指定 */
    width: 70px;
    /* 高さの指定 */
    height: 70px;
    /* フォントサイズの指定 */
    font-size: 1rem;
  }

  .post-date span {
    /* フォントサイズの指定 */
    font-size: 0.875rem;
    /* パッティングの上部分の指定 */
    padding-top: 2px;
  }

  .post-title {
    /* フォントサイズの指定 */
    font-size: 1.375rem;
  }

  .post-cat {
    /* フォントサイズの指定 */
    font-size: 0.875rem;
    /* マージンの上部分の指定 */
    margin-top: 10px;
  }

  .post-title,
  .post-cat {
    /* マージンの左部分の指定 */
    margin-left: 80px;
  }

  /* MENU */
  .menu-content {
    /* マージンの上部分の指定 */
    margin-top: 20%;
  }

  /* CONTACT */
  #contact .page-title {
    /* マージンの上部分の指定 */
    margin-top: 40px;
  }

  /* フォーム */
  input[type="text"],
  input[type="email"],
  textarea {
    /* 横幅の最大の指定 */
    max-width: 100%;
  }

  /* マップ情報 / SNS */
  #location .wrapper,
  #sns .wrapper {
    /* フレックスボックス縦並び */
    flex-direction: column;
  }

  .location-info,
  .location-map,
  .sns-box {
    /* 横幅の指定 */
    width: 100%;
  }

  .sns-box {
    /* マージンの下部分の指定 */
    margin-bottom: 30px;
  }
}